// Calculates y = |x|
// x & y are static variables

// if posiitve just spit it out 

push static 0
push temp 0
lt                     // check if x < 0
if-goto IF_TRUE

// if x > 0, return x
push static 0
pop static 1        
goto END

// if negative, then negate and spit it out 

label IF_TRUE          // if x < 0, negate and return x
push static 0
neg
pop static 1
goto END       

label END
goto END
