// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

function Fib.fib 1
push argument 0
push constant 1
gt
if-goto COMPUTE

// base case
push argument 0
return 

// fib(n-1)

label COMPUTE
push argument 0
push constant 1
sub 
call Fib.fib 1

// fib(n-2)
push argument 0
push constant 2
sub 
call Fib.fib 1

// return fib(n-2)+fib(n-1)
add 
return 